.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.titlePages{
  color:white;
}
.App-logo {
  height: 50vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backgroundLight{
  background-color: rgba(255,255,255,0.1);
  border-radius: 1em;
}
#bgNavBar{
  /* height: 200px;
  background-image: url("https://milhiecreation.milhie.fr/images/panoramaCreations2.png");
   */
   border-radius: 0.5em;
   background-color: rgba(255,255,255,0.1);
   font-size: x-large;

}
